<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>544924235532-crfkp8gcvcv9rro5ff0vs1n8kuh4f61h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544924235532-crfkp8gcvcv9rro5ff0vs1n8kuh4f61h</string>
	<key>API_KEY</key>
	<string>AIzaSyAPgEdv2miUZ3FIinNGhzb68lOkGFe9vaI</string>
	<key>GCM_SENDER_ID</key>
	<string>544924235532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medAi</string>
	<key>PROJECT_ID</key>
	<string>medguard-ai-8e484</string>
	<key>STORAGE_BUCKET</key>
	<string>medguard-ai-8e484.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544924235532:ios:d8565815b6ee6cbc873b29</string>
</dict>
</plist>